<div class="social_modal_container">
  <div class="promotion_error_message">
    <div class="top">
      <img src="/images/icons/x_small.png" id="close_button" class="cross"/>
    </div>

    <div class="title">
      {{#translate}} mustache.groupon.social.promotions.promotion_modal_with_error_message.title {{/translate}}
    </div>

    <div class="horizontal_line"></div>

    <div class="content">
      <div class="light_description">
        {{#translate}} mustache.groupon.social.promotions.promotion_modal_with_error_message.description, {"line_break": "<br/>"} {{/translate}}
        <div class="note">
          {{#translate}} mustache.groupon.social.promotions.promotion_modal_with_error_message.note {{/translate}}
        </div>
      </div>
    </div>
  </div>
</div>
